@include establish-baseline;

%avenir {
  font-family: "AvenirNext-DemiBoldItalic", "Avenir-HeavyOblique", "Arial", "STHeitiTC-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%helvetica {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light","Microsoft JhengHei", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%LondonMM {
    font-family: "LondonMM", "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light","Microsoft JhengHei", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%subpixel {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  @extend %LondonMM;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $global-text-color;
}

// heading
#{headings()} {
  @include reset-box-model;
  font-weight: normal;
}
%h1, h1 {
  @include adjust-font-size-to(34px, 2);
}
%h2, h2 {
  @include adjust-font-size-to(25px, 1.5);
}
%h3, h3 {
  @include adjust-font-size-to(21px, 1.25);
}
%h4, h4 {
  @include adjust-font-size-to(16px);
}
%h5, h5 {
  @include adjust-font-size-to(13px);
}
%h6, h6 {
  @include adjust-font-size-to(10px, .875);
}

p {
  @include leader(0);
  @include trailer(1);
  @include adjust-font-size-to(16px, 1.2);
}


// 引用他處文獻
blockquote {
  @include reset-box-model;
  @include leader(1);
  @include trailer(1);
  border-left: 3px solid $global-divider;
  padding-left: rhythm(1);
  @include adjust-font-size-to($base-font-size);
  cite {
    display: block;
    color: $global-text-color-muted;
    &:before {
      content: '\2014 \00A0';
    }
  }
}


// list
ol, ul {
  @include leader(1);
  @include trailer(1);
  padding-left: 24px;
  ol, ul {
    margin: 0;
  }
}

dl {
  @include leader(1);
  @include trailer(1);
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0;

  }
}


// inline style
a {
  @include link-colors($global-link-color, $global-link-color-hover);
  @include hover-link;
  img {
    border: none;
  }
}

.break-all {
  @include word-break(break-all);
}

img {
  max-width: 100%;
}

// divider
hr, .divider {
  @include leader(1);
  @include trailer(1);
  border-top: 1px solid $global-divider;
}
