/* first for IE 4–8 */
@font-face {
  font-family: LondonMM;
  src: url("/vender/webfont/LondonMM.eot");
}


/* then for WOFF-capable browsers */
@font-face {
  font-family: LondonMM;
  src: url("/vender/webfont/LondonMM.woff") format("woff");
}
