.contact-info {
  @include pie-clearfix;
  position: relative;
  padding-top: 1px;
  background-image: url("/images/header-bg-contact.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2) url('/images/banner-mask.png') repeat;
  }
  .contact-info-content {
    @include box-sizing(border-box);
    position: relative;
    z-index: 1000;
    display: block;
    padding: 24px;
    margin: rhythm(8) auto;
    max-width: 420px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba($color-black, .9);
    @include box-shadow(0px 5px 20px rgba(black, .5));
  }
  .info-title {
    margin: rhythm(.5) 0;
    padding-bottom: rhythm(.25);
    border-bottom: 1px solid white;
  }
  .contact-info-list {
    @include reset-box-model;
    margin: rhythm(.6) 0;
    list-style: none;
    a {
      @include unstyled-link;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.google-map {
  .map-title {
    @include box-sizing(border-box);
    position: relative;
    z-index: 1000;
    padding: 12px 24px 3px;
    margin: rhythm(1) auto;
    max-width: 420px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba($color-black, .9);
    @include box-shadow(0px 5px 20px rgba(black, .5));
  }
  #gmap {
    margin-top: -102px;
    min-height: 500px;
    img { max-width: none; }
  }
}
