.contact-info {
  @include pie-clearfix;
  @include rhythm(2, 0, 0, 2);
  @include at-breakpoint($pad) { @include rhythm(7, 0, 0, 7); }
  .contact-info-content {
    text-align: center;
    @include trailer(2);
    h2 {
      display: inline-block;
      @include trailer();
      padding-bottom: 6px;
      @include adjust-font-size-to(28px);
      color: $color-black;
      border-bottom: 1px solid $color-black;
      @include at-breakpoint($pad) { @include adjust-font-size-to(42px); }
    }
  }
  .contact-info-list {
    @include reset-box-model;
    margin: rhythm(.6) 0;
    list-style: none;
    a {
      @include unstyled-link;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.google-map {
  .map-title {
    @include box-sizing(border-box);
    position: relative;
    z-index: 1000;
    padding: 9px 12px 3px;
    margin: rhythm(1) auto;
    max-width: 420px;
    width: 100%;
    @include adjust-font-size-to(21px);
    color: black;
    text-align: center;
    background-color: rgba(white, .9);
    @include at-breakpoint($pad) {
      padding: 18px 24px 6px;
      @include adjust-font-size-to(34px);
    }
  }
  #gmap {
    margin-top: -128px;
    min-height: 400px;
    img { max-width: none; }
    @include at-breakpoint($pad) { min-height: 600px; }
  }
}
