.product {
  @include rhythm( 0, 2, 2, 0 );
  .product-logo {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    height: auto;
  }
  .product-item {
    @include unstyled-link;
    position: relative;
    display: block;
    @include box-sizing(border-box);
    float: left;
    width: 100%;
    padding: rhythm(.5);
    .product-image {
      display: block;
      width: 100%;
    }
    .product-info {
      @include rhythm( 0, 1, 1, 0 );
      padding-left: 6px;
      padding-right: 6px;
      text-align: center;
      color: $text-gray-light;
      background-color: $color-black-light;
      @include transition(background-color .25s);
      .name-and-price { color: white; }
      .summary { @include adjust-font-size-to(13px);}
    }
    .product-intro {
      position: absolute;
      top: 12px;
      left: 12px;
      right: 12px;
      bottom: 12px;
      padding: 24px;
      text-align: center;
      opacity: 0;
      background-color: rgba(black, .8);
      @include transition(opacity .25s);
      p {
        position: absolute;
        top: 50%;
        left: 24px;
        right: 24px;
        margin: 0;
        color: white;
        @include adjust-font-size-to(13px, .85);
        @include translateY(-50%);
      }
    }
    &:hover .product-intro {
      opacity: 1;
    }
    @include at-breakpoint($pad) { width: 50%; }
    @include at-breakpoint($desktop) { width: 33.333%; }
  }
}