.button-wrap {
  @include rhythm( 1, 0, 0, 1 );
}
button, .button {
  @include unstyled-link;
  @include reset-box-model;
  display: inline-block;
  padding: 9px 18px 5px;
  @include adjust-font-size-to(16px);
  border: 1px solid $color-gray;
  @include transition(border .25s);
  background-color: transparent;
  &:hover {
    @include unstyled-link;
    border-color: $color-black;
  }
}

.button + .button,
button + button {
  margin-left: 12px;
}