.hero {
  max-height: 500px;
  overflow: hidden;
  background-color: darken($color-black, 7%);
  .hero-holder {
    position: relative;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding-top: 33.78%;
  }
  .carousel {
    position: absolute;
    top: 0;
  }
  .carousel-caption {
    background: none;
  }
  .carousel-indicators li {
    @include box-shadow(0px 1px 3px rgba(black, .25));
  }
}
.hero-photo {
  width: 100%;
  line-height: 0;
  img {
    margin: 0;
    padding: 0;
  }
}