.hero {
  position: relative;
  overflow: hidden;
  background-color: darken($color-black, 7%);
}
.hero-photo {
  line-height: 0;
  img {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}