.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 260px;
	background-color: $color-black;
	%nav, .nav {
		position: relative;
		z-index: 100;
		list-style: none;
		@include reset-box-model;
		li + li {
			border-top: 1px solid lighten($color-black, 10%);
		}
		a {
			position: relative;
			display: block;
			padding: 14px 8px 10px 8px;
			@include adjust-font-size-to(13px);
			font-weight: bold;
			color: $text-gray-light;
			@include transition(color .25s);
			&:hover {
				text-decoration: none;
				color: white;
			}
			&:before {
				display: block;
				content: "";
				position: absolute;
				top: 14px;
				left: 6px;
				right: 0;
				bottom: 10px;
				background-color: $color-black;
				opacity: 0;
				@include transition(opacity .25s);
			}
		}
		.nav-designer a:hover {
			&:before {
				content: "設計師作品";
				opacity: 1;
			}
		}
		.nav-service a:hover {
			&:before {
				content: "服務項目";
				opacity: 1;
			}
		}
		.nav-product a:hover {
			&:before {
				content: "產品介紹";
				opacity: 1;
			}
		}
		.nav-contact a:hover {
			&:before {
				content: "聯絡我們";
				opacity: 1;
			}
		}
	}
	.nav-contact-info {
		@extend %nav;
		padding-top: 12px;
		padding-left: 3px;
		border-top: 1px solid lighten($color-black, 10%);
		li + li { border: none; }
		a { padding: 7px 8px 5px 8px; }
		li.phone a,
		li.line a {
			cursor: default;
		}
		li a {
			position: relative;
			padding-left: 24px;
			&:before {
				content: "";
				position: absolute;
				top: 6px;
				left: 0;
				opacity: .6;
				@include transition(opacity .25s);
			}
			&:hover {
				&:before { opacity: 1; }
			}
		}
		li.map a:before { @include replace-text-with-svg("icon-map"); }
		li.phone a:before { @include replace-text-with-svg("icon-phone"); }
		li.line a:before { @include replace-text-with-svg("icon-line"); }
		li.fb-page a:before { @include replace-text-with-svg("icon-fb"); }
	}
}

@include at-breakpoint($desktop) {
	.menu {
		position: static;
		width: auto;
		margin: 0 auto;
		padding: 0 48px;
		@include set-container-width;
		.nav {
			float: left;
			li { float: left; }
			li + li { border-top: none; }
			a:before {
				left: 0;
				text-align: center;
			}
			a:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 12px;
				width: 0;
				height: 1px;
				background-color: white;
				@include transition(width .25s, left .25s);

			}
			a:hover {
				&:after {
					left: 0;
					width: 100%;
				}
			}
		}
		.nav-contact-info {
			float: right;
			padding: 0;
			border-top: none;
			li { float: left; }
			li + li { border-top: none; }
			a { padding: 14px 8px 10px 8px; }
			a:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 12px;
				width: 0;
				height: 1px;
				background-color: white;
				@include transition(width .25s, left .25s);
			}
			li a {
				&:before {
					top: 13px;
				}
			}
		}
	}
}