.page-header {
  position: relative;
  background-color: darken($color-black, 7%);
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/images/banner-mask.png') repeat;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include at-breakpoint($desktop) {
      @include background( linear-gradient(to right, rgba(black, 1) 15%, rgba(black, 0) 35%, rgba(black, 0) 65%, rgba(black, 1) 85% ) );
    }
  }
  .page-header-inner {
    max-width: 1480px;
    @include rhythm(0, 4, 4, 0);
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    @include background-size(cover);
  }
}
.page-header-title {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 12px 18px 8px;
  text-align: center;
  color: white;
  background-color: rgba($color-black, .75);
  @include at-breakpoint($pad) {
    display: inline-block;
    text-align: left;
  }
  .ch, .en {
    display: inline-block;
    padding: 0 3px;
  }
  .ch + .en {
    &:before {
      content: "|";
      position: relative;
      left: -3px;
      color: $color-gray;
    }
  }
}