.inner-header data-set="header_switch"
  .page-header
    .page-header-inner style="background-image: url('/images/header-bg-product.jpg')"
      .container
        h2.page-header-title
          .en Product
          .ch 產品介紹

.product
  img.product-logo src="/images/product/logo-KM.png"
  .container
    .product-item
      img.product-image src="/images/product/anti-gravity-spray.jpg" alt=""
      .product-info
        .name-and-price 上引噴霧 150ml 900元
        .summary 無重量的蓬鬆噴霧
      .product-intro
        p 質地輕盈的非氣壓式噴霧，含有純淨的有機薰衣草成分，能夠創造無重量的豐盈感,同時增添頭髮光澤，給予頭髮曲線與支撐力，所有髮質適用。
    .product-item
      img.product-image src="/images/product/hair-resort-spray.jpg" alt=""
      .product-info
        .name-and-price 海洋天堂 150ml 900元
        .summary 打造海灘造型的曲線噴霧
      .product-intro
        p 海洋天堂同時具有打底與定型的功效；可以先將產品使用在微濕的頭髮上打造出蓬鬆的基底，然後再次噴灑做定型，使頭髮變的更厚實有線條感，絕不結塊或糾結。
    .product-item
      img.product-image src="/images/product/shimmer-shine.jpg" alt=""
      .product-info
        .name-and-price 金光閃閃 100ml 900元
        .summary 護髮/造型雙效合一
      .product-intro
        p 護髮/造型雙效合一，在造型的同時也修護秀髮。以高端護膚技術的光學反光科技，讓秀髮散發動人光澤，透過精油、類生物黃鹼素與維他命發揮作用，達到修復受損髮絲的效果。<br>造型前使用在濕髮上，能吹整出金屬光的高度亮澤感。
    .product-item
      img.product-image src="/images/product/rough-rider.jpg" alt=""
      .product-info
        .name-and-price 不老騎士 100g 900元
        .summary 超強支撐力的霧面塑型土
      .product-intro
        p 來自於50年代倫敦次文化「飛機頭」經典造型的創作靈感，必須同時擁有強大的支撐力與豐盈視覺感官的造型效果，造就不老騎士這瓶塑型土的誕生。<br>成份中大豆與黃金竹萃取精華，能提供頭髮養份、保濕並強韌髮幹，讓頭髮柔順有光澤，同時創造頭髮的髮豐感。乾濕髮皆可用，使用前先在手心裡搓揉加溫。在濕的捲髮上使用不老騎士，然後等待頭髮自然變乾。能夠輕鬆創造豐盈視覺效果、加強頭髮線條感。在細軟的乾髮上使用少量的不老騎士，並且揉捻髮根，就可以快速打造豐量、霧面的視覺感。
    .product-item
      img.product-image src="/images/product/easy-rider.jpg" alt=""
      .product-info
        .name-and-price 逍遙騎士 100g 900元
        .summary 最自然、最輕度定型的造型土
      .product-intro
        p 擁有最自然、最輕度支撐力的造型土，使用於微濕的頭髮或乾髮上皆可。富含維他命與礦物質，能夠去除毛燥、加深捲紋，讓你隨心所欲創造喜愛的造型。
    .product-item
      img.product-image src="/images/product/night-rider.jpg" alt=""
      .product-info
        .name-and-price 暗夜騎士 150ml 900元
        .summary 霧面線條造型土，擁有強韌的支撐力
      .product-intro
        p 能夠給予頭髮粗糙、霧面線條感的強力塑型土,適合用來打造俏麗的短髮或是時尚多層次感的 造型，只要短短幾秒鐘即可完成造型，貼心的包裝讓使用者可以輕鬆的從瓶口抹取造型土。
    .product-item
      img.product-image src="/images/product/full-again.jpg" alt=""
      .product-info
        .name-and-price 再創高豐 150ml 900元
        .summary 細塌髮的救星
      .product-intro
        p 細塌髮的救星!質地輕爽零負擔，能給予頭髮自然的律動與曲線。富含人造纖維粒子，能增粗細軟髮絲的直徑使頭髮表面變的厚實 ，其成分更注入阿米香樹精油與呂宋橄欖精油等天然成分，在造型的同時也兼具有修復的功效，只要頭髮健康，髮絲自然就會變得強健、有支撐力，造型也就會更輕鬆。 再創高豐使用方式相當簡單，只要在造型前將產品塗抹在微濕的頭髮上，並且特別加強髮中到髮尾，即可創造出令你滿意的豐盈髮型。
    .product-item
      img.product-image src="/images/product/anti-gravity.jpg" alt=""
      .product-info
        .name-and-price 抗地心引力 150ml 900元
        .summary 不含油脂的蓬鬆大師
      .product-intro
        p 雙效合一的蓬鬆大師，具有打底與定型的功效，質地輕盈不含油脂，能創造富有舞台張力的蓬鬆造型，同時為頭髮增添線條感。使用於濕髮上，將頭髮吹乾後即可感受到頭髮變的豐盈蓬鬆。而自然的支撐力能夠長效的維持所有造型，捲髮造型或是吹整後的髮型也不例外。此外，抗地心引力也擁有馴服毛躁與增添光澤的功效。
    .product-item
      img.product-image src="/images/product/super-goo.jpg" alt=""
      .product-info
        .name-and-price 彈簧膠 100ml 900元
        .summary 獨特的支撐力，質地清爽不黏膩
      .product-intro
        p 彈簧膠擁有獨特的支撐力，質地清爽不黏膩，塑型定型清鬆搞定，特別適合打造富有光澤感的濕髮或油頭造型，富含綠茶、竹子等天然植物萃取的水溶性配方，微濕髮、乾髮皆可使用。<br>在造型的最後一個步驟，抹上彈簧膠，即可立即輕鬆創造出完美濕髮的光澤。

.product
  img.product-logo src="/images/product/logo-ggloria.png"
  .container
    .product-item
      img.product-image src="/images/product/Dressia-trace-wax.jpg" alt=""
      .product-info
        .name-and-price 舞動WAX - 柔順白
        .summary 賦予頭髮柔軟的造型力
      .product-intro
        p 隨心所欲，蓬鬆的質感~快速！可愛！30秒造型呈現<br><br>柔順白<br>賦予頭髮柔軟的造型力<br>彈力紅<br>給予頭髮輕盈無造做的造型質感<br>動感黑<br>創造富有強弱立體感的捲度表現<br>

    .product-item
      img.product-image src="/images/product/Dressia-flick-wax.jpg" alt=""
      .product-info
        .name-and-price 舞動WAX - 彈力紅
        .summary 給予頭髮輕盈無造做的造型質感
      .product-intro
        p 隨心所欲，蓬鬆的質感~快速！可愛！30秒造型呈現<br><br>柔順白<br>賦予頭髮柔軟的造型力<br>彈力紅<br>給予頭髮輕盈無造做的造型質感<br>動感黑<br>創造富有強弱立體感的捲度表現<br>
    .product-item
      img.product-image src="/images/product/Dressia-grasp-wax.jpg" alt=""
      .product-info
        .name-and-price 舞動WAX - 動感黑
        .summary 創造富有強弱立體感的捲度表現
      .product-intro
        p 隨心所欲，蓬鬆的質感~快速！可愛！30秒造型呈現<br><br>柔順白<br>賦予頭髮柔軟的造型力<br>彈力紅<br>給予頭髮輕盈無造做的造型質感<br>動感黑<br>創造富有強弱立體感的捲度表現<br>
    .product-item
      img.product-image src="/images/product/ND-brightup-VEIL.jpg" alt=""
      .product-info
        .name-and-price 舞動SPRAY - 柔順白
        .summary 創造光澤、柔軟的無造做秀髮
      .product-intro
        p 為造型帶來如【羽毛柔軟】的輕盈質感<br>新鮮透明的水果花香及法式風情的氛圍<br><br>柔順白<br>創造光澤、柔軟的無造做秀髮。<br>輕盈粉<br>給予頭髮輕盈、蓬鬆的質感呈現。<br>塑型藍<br>使完成的秀髮輕盈，無負擔的定型。
    .product-item
      img.product-image src="/images/product/ND-swingmove-VEIL.jpg" alt=""
      .product-info
        .name-and-price 舞動SPRAY - 輕盈粉
        .summary 給予頭髮輕盈、蓬鬆的質感呈現
      .product-intro
        p 為造型帶來如【羽毛柔軟】的輕盈質感<br>新鮮透明的水果花香及法式風情的氛圍<br><br>柔順白<br>創造光澤、柔軟的無造做秀髮。<br>輕盈粉<br>給予頭髮輕盈、蓬鬆的質感呈現。<br>塑型藍<br>使完成的秀髮輕盈，無負擔的定型。
    .product-item
      img.product-image src="/images/product/ND-holdfit-VEIL.jpg" alt=""
      .product-info
        .name-and-price 舞動SPRAY - 塑型藍
        .summary 使完成的秀髮輕盈，無負擔的定型
      .product-intro
        p 為造型帶來如【羽毛柔軟】的輕盈質感<br>新鮮透明的水果花香及法式風情的氛圍<br><br>柔順白<br>創造光澤、柔軟的無造做秀髮。<br>輕盈粉<br>給予頭髮輕盈、蓬鬆的質感呈現。<br>塑型藍<br>使完成的秀髮輕盈，無負擔的定型。
    .product-item
      img.product-image src="/images/product/RS.jpg" alt=""
      .product-info
        .name-and-price 絲潞髮妝(RX) - RS
        .summary 使糾結的髮質變的柔軟滑順
      .product-intro
        p 讓頭髮變得柔軟且具有護髮效果的基礎保養聖品<br><br>RS<br>使糾結的髮質變的柔軟滑順<br>RF<br>讓乾燥的髮質變的滋潤豐盈<br>RC<br>使乾硬的髮質變的更佳柔順

    .product-item
      img.product-image src="/images/product/RF.jpg" alt=""
      .product-info
        .name-and-price 絲潞髮妝(RX) - RF
        .summary 讓乾燥的髮質變的滋潤豐盈
      .product-intro
        p 讓頭髮變得柔軟且具有護髮效果的基礎保養聖品<br><br>RS<br>使糾結的髮質變的柔軟滑順<br>RF<br>讓乾燥的髮質變的滋潤豐盈<br>RC<br>使乾硬的髮質變的更佳柔順
    .product-item
      img.product-image src="/images/product/RC.jpg" alt=""
      .product-info
        .name-and-price 絲潞髮妝(RX) - RC
        .summary 使乾硬的髮質變的更佳柔順
      .product-intro
        p 讓頭髮變得柔軟且具有護髮效果的基礎保養聖品<br><br>RS<br>使糾結的髮質變的柔軟滑順<br>RF<br>讓乾燥的髮質變的滋潤豐盈<br>RC<br>使乾硬的髮質變的更佳柔順
    .product-item
      img.product-image src="/images/product/RidgeCurlSpray.jpg" alt=""
      .product-info
        .name-and-price QUFRA極光金系列 - RidgeCurlSpray
        .summary 捲度的支撐能更為持久
      .product-intro
        p 由髮根加入明顯和不規則的捲度呈現，形成強烈的曲線與霧感，創造性感魅力風盈的質感。<br><br>RidgeCurlSpray<br>電棒前打底，使捲度的支撐能更為持久<br>VolumyCurlWax<br>電棒造型完成後，增加髮尾的塑型及加強整體的立體波紋感<br>VolumeKeepSpray<br>最後步驟完成輕盈的定型效果
    .product-item
      img.product-image src="/images/product/VolumyCurlWax.jpg" alt=""
      .product-info
        .name-and-price QUFRA極光金系列 - VolumyCurlWax
        .summary 增加髮尾的塑型及加強整體的立體波紋感
      .product-intro
        p 由髮根加入明顯和不規則的捲度呈現，形成強烈的曲線與霧感，創造性感魅力風盈的質感。<br><br>RidgeCurlSpray<br>電棒前打底，使捲度的支撐能更為持久<br>VolumyCurlWax<br>電棒造型完成後，增加髮尾的塑型及加強整體的立體波紋感<br>VolumeKeepSpray<br>最後步驟完成輕盈的定型效果
    .product-item
      img.product-image src="/images/product/VolumeKeepSpray.jpg" alt=""
      .product-info
        .name-and-price QUFRA極光金系列 - VolumeKeepSpray
        .summary 完成輕盈的定型效果
      .product-intro
        p 由髮根加入明顯和不規則的捲度呈現，形成強烈的曲線與霧感，創造性感魅力風盈的質感。<br><br>RidgeCurlSpray<br>電棒前打底，使捲度的支撐能更為持久<br>VolumyCurlWax<br>電棒造型完成後，增加髮尾的塑型及加強整體的立體波紋感<br>VolumeKeepSpray<br>最後步驟完成輕盈的定型效果
    .product-item
      img.product-image src="/images/product/D1.jpg" alt=""
      .product-info
        .name-and-price 透明髮膜(D1)
        .summary 賦予喜歡明顯且深刻捲度造型的妳
      .product-intro
        p 賦予喜歡明顯且深刻捲度造型的妳
    .product-item
      img.product-image src="/images/product/D4.jpg" alt=""
      .product-info
        .name-and-price 捉膜(D4)
        .summary 具有塑造強烈髮束感的效果表現
      .product-intro
        p 呈現濃密慕絲狀的質地、具有塑造強烈髮束感的效果表現
    .product-item
      img.product-image src="/images/product/Due-silky-sp.jpg" alt=""
      .product-info
        .name-and-price 蒂聖絲 - DueSilky
        .summary 創造柔順輕盈的質地呈現
      .product-intro
        p 針對細軟髮質，創造柔順輕盈的質地呈現
    .product-item
      img.product-image src="/images/product/Due-willow-sp.jpg" alt=""
      .product-info
        .name-and-price 蒂聖絲 - DueWillow
        .summary 賦予頭髮表現出柔軟彈性的質感
      .product-intro
        p 對應一般偏粗硬的髮質，賦予頭髮表現出柔軟彈性的質感
    .product-item
      img.product-image src="/images/product/Elujuda-FO.jpg" alt=""
      .product-info
        .name-and-price 生命果油 - ELUJUDA FO
        .summary 使髮性條件更為強韌
      .product-intro
        p 對應細軟頭髮，使其髮性條件更為強韌
    .product-item
      img.product-image src="/images/product/Elujuda-MO.jpg" alt=""
      .product-info
        .name-and-price 生命果油 - ELUJUDA MO
        .summary 表現出更豐盈、柔軟的效果
      .product-intro
        p 對應偏粗硬的髮性，使其表現出更豐盈、柔軟的效果
